<!DOCTYPE html>
<html lang="fr">
<head>
    {% load static %}
    <script src="{% static 'main_hub/old/js/sweetalert2.all.min.js' %}"></script>
    <meta charset="UTF-8">
    <title>Password required</title>
</head>
<body>
<script>
(async () => {

const { value: password } = await Swal.fire({
   title : 'Password',
   showConfirmButton: false,
   html : '<form method="post" enctype="multipart/form-data">'
           + '{% csrf_token %}'
           +   '<input maxlength="10" autocapitalize="off" autocorrect="off" class="swal2-input" style="display: flex;" placeholder="Enter the file password" type="password" name="password">'
           +  ' <button type="submit" class="swal2-confirm swal2-styled" style="display: inline-block; border-left-color: rgb(48, 133, 214); border-right-color: rgb(48, 133, 214);" aria-label="">OK</button>'
           +       '</form>'
});

})()
</script>
{% load sweetify %}
{% sweetify %}
</body>
</html>