<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
	<title>Exos ISN </title>
  </head>
  <body>
  <center>
  <h1>ISN</h1>
  <h2> made with P5js </h2>
  <h3>TP2 If statements </h3>
  <ul>
    <li><a href="2.1"> Ex 2.1 </a> </li>
	<li><a href="2.2"> Ex 2.2 </a> </li>
	<li><a href="2.3"> Ex 2.3 </a> </li>
	<li><a href="2.4"> Ex 2.4 </a> </li>
	<li><a href="2.5"> Ex 2.5 </a> </li>
	<li><a href="2.6"> Ex 2.6 </a> </li>
	<li><a href="2.7"> Ex 2.7 </a> </li>
	<li><a href="2.8"> Ex 2.8 </a> </li>
	</ul>
	<h3>TP3 : While and For </h3>
	<ul>	
	<li><a href="3.1"> Ex 3.1 </a> </li>
	<li><a href="3.2"> Ex 3.2 </a> </li>
	<li><a href="3.3"> Ex 3.3 </a> </li>
	<li><a href="3.4"> Ex 3.4 </a> </li>
	<li><a href="3.5"> Ex 3.5 </a> </li>
	<li><a href="3.6"> Ex 3.6 </a> </li>
	<li><a href="3.7"> Ex 3.7 </a> </li>
	<li><a href="3.8"> Ex 3.8 </a> </li>
	</ul>
	<h3>TP5 Functions... </h3>
	<ul>	
	<li><a href="5.1_IA_EDITION"> 5.1 IA/ML5Js Edition </a> </li>
	</ul>
	<h3>Fractal </h3>
	<ul>	
	<li><a href="fractal_tree"> Fractal Basic Tree</a> </li>
	</ul>
	</center>
</body></html>